@import "../../styles/variable.scss";

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 50%;
  background: $primary;
  box-sizing: border-box;

  span {
    font-weight: 500;
    font-size: 16px;
    line-height: 1rem;
    color: $white;
  }

  &.sm {
    width: 24px;
    height: 24px;

    span {
      font-size: 0.625rem;
    }
  }

  &.md {
    width: 32px;
    height: 32px;

    span {
      font-size: 0.6875rem;
    }
  }

  &.lg {
    width: 44px;
    height: 44px;

    span {
      font-size: 1rem;
    }
  }
}

.avatarImg {
  width: 44px;
  height: 44px;
  border-radius: 100%;
}
