@import "../../styles/variable.scss";

.textarea {
  border: 1px solid $grey-200;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 14px;
  color: $grey-800;
  border-radius: 4px;
  outline: none;
  resize: none;
  height: 96px;

  &::placeholder {
    color: $grey-400;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 80%;
  }

  &::-webkit-scrollbar {
    height: 4px !important;
    width: 4px !important;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.395);
    border-radius: 15px;
  }
}
